@(documents: List[models.Document])

@main("List Data"){

<table class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>File Name</th>
        <th>Purpose</th>
        <th>Date Uploaded</th>
        <th>Status</th>
        <th>Process</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    @for(document <- documents){
        <tr>
            <td>@document.Id</td>
            <td>@document.name</td>
            <td>@document.purpose</td>
            <td>@document.formattedDate</td>
            <td>@document.status</td>
            <td><a href="@routes.ApplicationController.process(document.Id)" class="btn btn-sm btn-info">Process</a></td>
            <td><a class="btn btn-sm btn-primary">View</a></td>
        </tr>
    }
    </tbody>
</table>



}